<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') -%>
    </head>
    <body>
        <header><%- include('../partials/header') -%></header>
        <main>
            <div id="okta-login-container">
            </div>
        </main>

        <footer><%- include('../partials/footer') -%></footer>
        <script src="../sign-in.js"></script>
    </body>
</html>
